@inherits LayoutComponentBase

<div class="bg-info text-white p-2">
    <span class="navbar-brand m-lg-2">Book Store Administration</span>
</div>

<div class="container-fluid">

    <div class="row p-2">

        <div class="col-3">

            <div class="d-grid gap-2">
                <NavLink class="btn btn-outline-primary" href="/admin/book"
                         ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Bookstore</NavLink>
                <NavLink class="btn btn-outline-primary" href="/admin/shoppingcart"
                         ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Shopping Cart</NavLink>
            </div>
        </div>
        <div class="col">
            @Body
        </div>
    </div>
</div>
